<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jiangtao.lifetime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="org.jiangtao.application.LifeApplication"
        android:allowBackup="true"
        android:icon="@drawable/lifetime"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IndexActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:logo="@drawable/ic_drawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:label="@string/title_activity_guide" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_regest" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".DynamicActivity"
            android:label="@string/title_activity_my_dynamic" />
        <activity
            android:name=".CollectionActivity"
            android:label="@string/title_activity_my_collection" />
        <activity
            android:name=".RetrievePasswordActivity"
            android:label="@string/title_activity_retrieve_password" />
        <activity
            android:name=".WriteDynamicActivity"
            android:label="@string/title_activity_write_dynamic" />
        <activity
            android:name=".WriteNoteActivity"
            android:label="@string/title_activity_write_notectivity" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_seetting" />
        <activity
            android:name=".DraftsActivity"
            android:label="@string/title_activity_drafts" />
        <activity
            android:name=".UserHomePageActivity"
            android:label="@string/title_activity_user_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105014514" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomePageActivity" />
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
